 * {
            padding: 0px;
            margin: 0px;
            border: none;
        }

        .main-1 {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;

        }

        .firstHead {
            color: red;

        }

        .main-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 30%;
            padding: 10px;
            border: 2px solid  red;
            border-radius: 10px;
        }
        .Checkbutton{
            border-radius: 10px;
            padding: 10px;
            background-color:#FB3640;
            color:white;
            cursor: pointer;

        }