 * {
            font-family: sans-serif;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
           
        
           
        }

        .content {
           
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            width: 40vw;
            border-radius: 5px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            padding-bottom: 20px;
            padding-top:20px;
            
        }
        .in{
            width: 100%;
        }
        #inputValue {
            padding: 9px;
            border: 2px solid black;
            border-radius: 6px;
            font-weight: bolder;
            
            
        }

        .btn {
         
            border-radius: 5px;
            height: 38px;
            width: 100%;
            cursor: pointer;
            background-color: rgb(48, 48, 255);
            color:white;
            font-weight: bolder;
            border: none;
            
        }

        .remaining {
            flex: 7;
          
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            
            
        }
        .sub-remaining{
            width: 85%;
            display: flex;
            flex-direction: column;
            gap:10px;
           
        }

        .heading {
            flex:3;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            padding-bottom: 10px;
           
        }
        .QR-image{
            width: 130px;
            height: 130px;
              display: none; 
        }
         .download{
             text-decoration:none;
             background-color: green;
             border: none;
             padding: 10px;
             border-radius: 5px;
             color:white;
             font-weight: bolder;
            
         }
         .resetButton{
            background-color: red;
            color: white;
            font-weight: bolder;
            padding: 10px;
            border: none;
            border-radius: 5px;
         }
        